<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.swm.vnb.dao.NoteDAO">
    <select id="getNoteFiles" parameterType="int" resultType="NoteFileVO">
        SELECT *
        FROM note_file
        WHERE folder_id = #{folderId}
    </select>
    <select id="getNoteFolders" parameterType="int" resultType="NoteFolderVO">
        SELECT *
        FROM note_folder
        WHERE parent_folder_id = #{folderId}
    </select>
    <select id="searchNotes" parameterType="String" resultType="NoteFileVO">
        SELECT *
        FROM note_file
        WHERE file_name LIKE CONCAT('%', #{keyword}, '%');
    </select>
</mapper>
