<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.swm.vnb.dao.ScriptDAO">
    <select id="getScript" parameterType="HashMap" resultType="ScriptVO">
        SELECT s.script_id, nf.category_id, sc.category_name, nf.file_name, s.is_recording,
            s.audio_file_id, f.saved_name AS audio_file_name, s.video_file_id,
            nf.folder_id, nf.is_important, nf.created_at, nf.updated_at
        FROM script s
        INNER JOIN note_file nf ON s.script_id = nf.script_id
        INNER JOIN script_category sc ON nf.category_id = sc.category_id
        LEFT JOIN file f on s.audio_file_id = f.file_id
        WHERE
            s.script_id = #{scriptId}
            AND s.user_id = #{userId}
    </select>

    <insert id="createScript" parameterType="ScriptVO" useGeneratedKeys="true" keyProperty="scriptId">
        INSERT INTO script
            (user_id, is_recording)
        VALUES
            (#{userId}, #{isRecording})
    </insert>

    <update id="updateScriptRecording" parameterType="HashMap">
        UPDATE script
        SET is_recording = #{isRecording}
        WHERE
            script_id = #{scriptId}
            AND user_id = #{userId}
    </update>

    <update id="updateScriptAudio" parameterType="HashMap">
        UPDATE script
        SET audio_file_id = #{audioFileId}
        WHERE
            script_id = #{scriptId}
            AND user_id = #{userId}
    </update>

    <select id="getScriptParagraphs" parameterType="HashMap" resultType="ScriptParagraphVO">
        SELECT sp.paragraph_id, sp.script_id, sp.paragraph_sequence, sp.start_time, sp.end_time,
            sp.paragraph_content, sp.memo_content, sp.is_bookmarked, sp.created_at, sp.updated_at
        FROM script_paragraph sp
        INNER JOIN script s ON sp.script_id = s.script_id
        WHERE
            s.script_id = #{scriptId}
            AND s.user_id = #{userId}
    </select>

    <select id="getParagraphKeywords" parameterType="HashMap" resultType="ScriptParagraphKeywordVO">
        SELECT keyword_id, paragraph_id, user_id, keyword, created_at, updated_at
        FROM script_paragraph_keyword
        WHERE
            paragraph_id = #{paragraphId}
            AND user_id = #{userId}
    </select>

    <insert id="createParagraph" parameterType="ScriptParagraphVO" useGeneratedKeys="true" keyProperty="paragraphId">
        INSERT INTO script_paragraph
            (script_id, user_id, paragraph_sequence, start_time,
            end_time, paragraph_content, memo_content)
        VALUES
            (#{scriptId}, #{userId}, #{paragraphSequence}, #{startTime},
            #{endTime}, #{paragraphContent}, #{memoContent})
    </insert>

    <update id="updateParagraph" parameterType="ScriptParagraphVO">
        UPDATE script_paragraph
        <set>
            <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
            <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
            <if test="paragraphContent != null">paragraph_content = #{paragraphContent},</if>
            <if test="memoContent != null">memo_content = #{memoContent},</if>
            <if test="isBookmarked != null">is_bookmarked = #{isBookmarked}</if>
        </set>
        WHERE
            paragraph_id = #{paragraphId}
            AND user_id = #{userId}
    </update>

    <delete id="deleteParagraph" parameterType="HashMap">
        DELETE FROM script_paragraph
        WHERE
            paragraph_id = #{paragraphId}
            AND user_id = #{userId}
    </delete>

    <delete id="deleteScript" parameterType="HashMap">
        DELETE FROM script
        WHERE
            script_id = #{scriptId}
            AND user_id = #{userId}
    </delete>
    <delete id="deleteScriptsByUserId" parameterType="int">
        DELETE FROM script
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteKeywordsByScriptId" parameterType="HashMap">
        DELETE FROM script_paragraph_keyword
        WHERE
            script_id = #{scriptId}
            AND user_id = #{userId}
    </delete>
    <delete id="deleteKeywordsByUserId" parameterType="int">
        DELETE FROM script_paragraph_keyword
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteParagraphsByScriptId" parameterType="HashMap">
        DELETE FROM script_paragraph
        WHERE
            script_id = #{scriptId}
            AND user_id = #{userId}
    </delete>
    <delete id="deleteParagraphsByUserId" parameterType="int">
        DELETE FROM script_paragraph
        WHERE user_id = #{userId}
    </delete>

    <insert id="createParagraphKeyword" parameterType="ScriptParagraphKeywordVO" useGeneratedKeys="true" keyProperty="keywordId">
        INSERT INTO script_paragraph_keyword
            (paragraph_id, user_id, keyword)
        VALUES
            (#{paragraphId}, #{userId}, #{keyword})
    </insert>
    <delete id="deleteParagraphKeyword" parameterType="HashMap">
        DELETE FROM script_paragraph_keyword
        WHERE
            paragraph_id = #{paragraphId}
            AND keyword = #{keyword}
            AND user_id = #{userId}
    </delete>

</mapper>
